* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;  
  background-color: #081730 ;
}
main {
  height: 150px;
  width: 400px;
}
.div__container {
  width: 100vw;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  
  display: flex;
}
.div__container__head {
  height: 60rem;
  width: 40rem;
  background-color: #002152 ;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.8rem;
  
}
.div__img img{
  height: 250px;
  width: 250px;
  margin: 30px auto;
  object-fit: cover;
  border-radius: 1.5rem;
}
.div__parrafo {
  width: 35rem;
  text-align: left;
  text-align: justify;
  margin: 1rem;
  padding-left: 4rem;
}
.div__parrafo p:nth-child(1) {
   color: white;
}
.div__parrafo p:nth-child(2) {
   margin: 2rem 0;
   color: rgba(128, 128, 128, 0.527);
}
figure img {
  margin: 0;
}
.div__descripcion {
  display: grid;
  grid-template-columns: 10px 150px 9px auto;
  align-items: center;
  gap: 27px;
  margin-left: 3rem;
}
.div__descripcion figure img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 2rem;
}
.div__descripcion p:nth-child(2) {
  display: block;
  text-align: left;
  color: cyan;
  padding: 2rem 1rem;
}
.div__descripcion p:nth-child(4) {
  display: block;
    text-align: left;
    padding: 1rem;
    color: white;
}
.div__contacto  {
  margin: 3rem;
  display: grid;
  grid-template-columns: 64px 100px auto;
  border-top: 1px solid gray;
  padding: 15px;
}
.div__contacto img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  margin-left: 1rem;
}
.primero {
  padding-top: 1rem;
  display: inline-block;
  text-align: left;   
  color: rgb(27, 24, 212);
}
.segundo {
  padding-top: 1rem;
  display: inline-block;
  text-align: left;   
  color: wheat;
}