* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
main {
  height: 200px;
  width: 500px;
}
.div__container {
  width: 100vw;
  height: 100vh;
  background-color: #081730 ;
  font-family: 'Outfit', sans-serif;
  
  display: flex;
}
.div__container__head {
  height: 85rem;
  width: 50rem;
  background-color: #002152 ;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.8rem;
  
}
.div__img img{
  height: 400px;
  width: 400px;
  margin: 30px auto;
  object-fit: cover;
  border-radius: 1.5rem;
}
.div__parrafo {
   text-align: left;
   margin: 2rem 5rem;
   font-size: 2.5rem;
}
.div__parrafo p:nth-child(1) {
   color: white;
}
.div__parrafo p:nth-child(2) {
   margin: 2rem 0;
   color: rgba(128, 128, 128, 0.527);
}
figure img {
  margin: 0;
}
.div__descripcion {
  display: grid;
  grid-template-columns: 10px auto 10px auto;
  margin-bottom: 24px;
  align-items: center;
  gap: 40px;
}
.div__descripcion figure img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  object-fit: cover;
  margin-left: 6rem;
}
.div__descripcion p:nth-child(2) {
  display: block;
  text-align: left;
  padding: 3rem;
  color: cyan;
}
.div__descripcion p:nth-child(4) {
  display: block;
  text-align: left;    
  padding: 5rem;
  color: white;
}
.div__contacto  {
  margin: 5rem;
  display: grid;
  grid-template-columns: 100px 100px auto;
  border-top: 1px solid gray;
  padding: 20px;
}
.div__contacto img {
  width: 50px;
  height: 50px;
  border-radius: 50px ;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  margin-left: 2rem
}
.primero {
  padding-top: 1rem;
  display: inline-block;
  text-align: left;   
  color: rgb(27, 24, 212);
}
.segundo {
  padding-top: 1rem;
  display: inline-block;
  text-align: left;   
  color: wheat;
}